<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redirectUri</key>
	<string>com.oktapreview.atko-corporation-application:/callback</string>
	<key>issuer</key>
	<string>https://atko-corporation-application.oktapreview.com</string>
	<key>clientId</key>
	<string>0oabmleuwnKdEux5m0h7</string>
	<key>scopes</key>
	<array>
		<string>offline_access</string>
		<string>openid</string>
		<string>profile</string>
	</array>
</dict>
</plist>
